[Unit]
Description=balancasvc
[Service]
Type=notify
ExecStart=/root/balancasvc/publish/balancasvc
WorkingDirectory=/root/balancasvc/publish

Environment=DOTNET_ROOT=/root/.dotnet

[Install]
WantedBy=multi-user.target


