[Unit]
Description=balancasvc
[Service]
Type=notify
ExecStart=/root/balancasvc/publish/balancasvc
WorkingDirectory=/root/balancasvc/publish

Environment=DOTNET_ROOT=/root/.dotnet

Restart=always
KillMode=process
TimeoutSec=infinity


[Install]
WantedBy=multi-user.target


