[Unit]
Description=balancasvc
[Service]
Type=simple
ExecStart=/root/balancasvc/publish/balancasvc
WorkingDirectory=/root/balancasvc/publish
Restart=on-failure
KillMode=process
Environment=DOTNET_ROOT=/root/.dotnet

[Install]
WantedBy=multi-user.target


